* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.page-main {
}
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  color: #fff;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-item {
  background-color: #ffffff;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.contacts {
  margin-left: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0;
}
.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero-title {
  max-width: 496px;
  margin: auto;
}
.hero-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  border: none;
  display: block;
  text-align: center;
  white-space: nowrap;
  margin: 48px auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.features-section {
  padding: 120px 0;
}
.features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.features-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  width: calc((100% - 72px) / 4);
}
.container-features-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-section {
  padding: 120px 0;
}
.team-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-title {
  margin-bottom: 72px;
  padding: 0;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 0 0 4px 4px;
  padding: 0;
  margin: 0;
}
.team-item {
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-block {
  padding: 32px 16px;
}
.team-title {
  margin-bottom: 8px;
}
.team-text {
  margin: 0 0 8px;
}
.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-social-icons {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icons:hover,
.team-social-icons:focus {
  background-color: #404bbf;
}
.social-icons {
  fill: #f4f4fd;
}
.main-title .team {
  margin-bottom: 72px;
}

.portfolio-section {
  padding: 120px 0;
}
.portfolio-list {
  display: flex;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
  padding: 0;
  margin: 0;
}
.portfolio-item {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 100%;
  height: auto;
  padding: 32px 16px;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-title {
  margin-bottom: 8px;
}
.portfolio-text {
  margin: 0;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
}
.portfolio-item:hover .text-overlay {
  transform: translatey(0);
}
.page-footer {
  padding: 100px 0;
}
.footer-container {
  width: 264px;
  display: block;
  padding: 0;
}
.footer-text {
  width: 264px;
  margin-top: 16px;
}
.footer-page-container {
  display: flex;
  align-items: baseline;
}
.social-media {
  margin-left: 120px;
}
.footer-paragrapf {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-social-list {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}
.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons {
  fill: #f4f4fd;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
  margin-left: 80px;
  width: 453px;
  height: 80px;
}
.subscribe-text {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
}
.footer-user-field {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-user-field:focus {
  border-color: #31d0aa;
  outline: none;
}
.footer-user-field::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-button {
  margin-left: 24px;
  border: #4d5ae5;
  background-color: #4d5ae5;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}
.button-subscrabe-ikon {
  fill: #fff;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opaciti 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:none(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
}
.close-popup {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup-icon {
  fill: #2e2f42;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup-icon:hover,
.close-popup-icon:focus,
.close-popup:hover,
.close-popup:focus {
  stroke: #404bbf;
  background-color: #404bbf;
  fill: #fff;
}
.close-popup:hover .close-popup-icon {
  stroke: #404bbf;
  background-color: #404bbf;
  fill: #fff;
}
.addressing-user {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.page-form {
}
.field-wrapper {
  margin-bottom: 8px;
}
.lable-field {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.field-wrapper-inner {
  position: relative;
}
.user-field {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 38px;
  padding-right: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.user-field:focus,
.comment-field:focus {
  border-color: #4d5ae5;
  outline: none;
}
.user-field:focus ~ .field-icon {
  fill: #4d5ae5;
}
.terms-lable {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
}
.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}
.terms-checkbox {
}

.custom-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: none;
  stroke: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
  opacity: 0;
}
.terms-checkbox:checked + .terms-lable .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
}
.terms-checkbox:checked + .terms-lable .custom-checkbox .check-icon {
  opacity: 1;
}
.form-button {
  display: block;
  width: 169px;
  border-radius: 4px;
  border-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px 65px;
  margin: 24px auto 0;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
  border-color: #4d5ae5;
  outline: none;
}
